body {
  font-family: 'Helvetica', 'Arial', san-serif;
  font-size: 13px;
  padding:   10px 10px 10px 10px;
  margin:    0px;
  height:    100%;
}

textarea {
  background-color: #f5f5f5;
  margin: 0px;
  height: 100%;
  resize: vertical;
}

